* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    position: absolute;
    left: 10%;
    padding-bottom: 30em;
}

.bobbing-hover * {
    position: relative;
    left: 0px;
    top: 0px;
    transition: 0.1s ease-in-out;
}
.bobbing-hover:hover * {
    position: relative;
    left: -2px;
    top: -2px;
}

.edit-button {
    border: none;
    background-color: transparent;
    color: rgb(66, 66, 66);
    transition: 0.1s ease-in-out;
    position: relative;
    left: -10px;
}

.edit-button:hover {
    color: rgb(123, 123, 123);
}